<div id="teste_karma-background" [ngClass]="showComponent | returnBackground">
  <button (click)="renderComponent()">Renderizar Componente</button>
  
  <div id="teste_karma-container" class="container" [ngClass]="{ 'border-red': !showComponent }">
    <app-component-to-render id="teste_karma-component-to-render" *ngIf="showComponent"></app-component-to-render>
  </div>
</div>

===========================================================

<div>
  <select
    id="test_karma-select"
    [ngModel]="currentStatusSelected"
    (ngModelChange)="onStatusChanged($event)"
  >
    <option value="Ativo">Ativo</option>
    <option value="Excluido">Excluido</option>
  </select>

  <h3 id="test_karma-current-status">Status Atual: {{ currentStatusSelected }}</h3>
</div>

===========================================================

<div>
  <input 
    id="test_karma-input-filter"
    [ngModel]="filterValue"
    (ngModelChange)="onInputTextChange($event)"
    placeholder="Faça um filtro"
  />
</div>
<div id="test_karma-people-list" *ngFor="let person of peopleListFiltered">
  Nome: {{ person.name }}
</div>